.card-img-top{
    width: 90px;
    height: 70px;

}
.row-2{
    box-shadow: 0px 0px 7px 0px rgb(188, 188, 188);
    height: 110px;
    padding: 0 30px;
    
}
.card-body{
    position: relative;
    top: 80px;
    right: 80px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}