#main {
  display: flex;
  width: 700px;
  flex-wrap: wrap;
  margin-left: 27%;
}
.child {
  height: 250px;
  width: 200px;
  border: 1px solid;
  text-align: center;
  margin: 13px;
}
.child:hover {
  background-image: repeating-linear-gradient(
    140deg,
    rgb(222, 217, 87),
    rgb(91, 230, 220),
    rgb(157, 17, 155)
  );
  box-shadow: 2px 2px 2px 3px rgb(133, 127, 127);
}
button:hover {
  cursor: pointer;
  background-color: rgb(0, 34, 255);
  color: white;
}
