
.form-control{
    width:530px;
}
.btn{
    position: relative;
    right: 61px;
    font-size: small;
    border: 1px white;
}
.btn-white {
    margin-left: 70px;
    width: 90px;
cursor: pointer;

}
.div{
    color: white;
    font-family:Arial, Helvetica, sans-serif;
cursor: pointer;

}
.cart{
    margin-left: 250px;
    font-family:  Verdana, Geneva, Tahoma, sans-serif;
    color: white;
cursor: pointer;

    
    
}
.more{
position: relative;
left: 80px;
color: white;
font-size: large;
cursor: pointer;
}
.navbar-brand{
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
}